.tile {
  margin-bottom: 6rem;
  &__thumb {
    width: 100%;
    height: auto;
    margin: 0 0 3rem;
  }

  &__link {
    color: $primary-color;
    text-decoration: none;
    display: block;

    &:hover span {
      border-bottom: 1px solid $primary-color;
    }
  }

  &__heading {
    font-size: 4.5rem;
    margin: 0 0 1rem;
    text-decoration: none;
  }

  &__subheading {
    font-family: $serif-font;
    font-size: 3.15rem;
    margin: 0;
    color: $primary-color;
  }
}

@include media('<800px') {
  .main--event {
    & .tile__heading {
      font-size: 4.25rem;
    }
    & .tile__subheading {
      font-size: 3rem;
    }
  }
}
