.converse {
  text-align: left;
  color: $white;
  padding: 15rem 0 8rem;

  & .container {
    display: flex;
  }

  & .container > * {
    flex: 1;
  }

  &__info {
    padding-right: 5rem;
  }

  &__heading {
    font-size: 10rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
  }

  &__content {
    font-size: 5.5rem;
    line-height: 1.5;
    margin-bottom: 5rem;
  }

  &__options {
    @apply justify-between;

    &__item {
      width: 100%;
      margin-bottom: 4rem;
      font-size: 3.5rem;
      font-family: $serif-font;

      & a {
        color: $white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__title {
      font-size: 6rem;
      margin-bottom: 2rem;
    }
  }
}

@include media('>=950px') {
  .converse {
    &__info {
      max-width: 515px;
    }
  }
}

@include media('<950px') {
  .converse {
    padding: 15rem 0;

    & .container {
      flex-direction: column;
    }

    & .container > * {
      flex: 1;
    }

    &__info {
      padding-right: 0;
    }

    &__options {
      flex-direction: column;
      align-items: center;

      &__item {
        margin-bottom: 5rem;
        width: 100%;
      }
    }
  }
}

@include media('<600px') {
  .converse {
    text-align: left;
  }
}
