*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 4px;
}

body {
  font-size: 4rem;
  font-family: $sans-font;
}

body.theme--dark {
  background-color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button:active,
button:focus {
  outline: none;
}

@include media('<950px') {
  .main {
    margin-top: 20rem;
  }
}

@include media('<500px') {
  .main {
    margin-top: 15rem;
  }
}

.container {
  width: 90vw;
  max-width: 1140px;
  margin: 0 auto;

  &--sm {
    max-width: 800px;
  }
}

@include media('<500px') {
  .main--event .container {
    max-width: 325px;
  }
}
